*{box-sizing: border-box;
margin: 0;
padding: 0;}

@font-face {
    font-family: "Brasika Display";
    src: url(fonts/brasika-display.otf);
}

header{width: 100%;
height: 80px;
background-color: #344C36;
font-family: "Brasika Display";
display: grid;
grid-template-columns: 0.2fr 0.2fr 0.5fr 3fr 0.6fr 0.4fr 0.3fr 0.3fr 0.4fr;
grid-template-rows: 80px;
color: white;
font-weight: 100;}

#brilho{grid-column: 2;
display: flex;
justify-content: center;
align-items: center;}

#nome{grid-column: 3;
display: flex;
justify-content: center;
align-items: center;}

h1{font-size: 25px;
line-height: 0.8;
}

#sobremim{grid-column: 6;
display: flex;
justify-content: center;
align-items: center;}

#sobremim h4{ font-family: "Raleway", sans-serif;
color: white;}

#projetos{grid-column: 7;
display: flex;
justify-content: center;
align-items: center;}
    
#projetos h4{ font-family: "Raleway", sans-serif;
color: white;}

#contato{grid-column: 8;
display: flex;
justify-content: center;
align-items: center;}

svg{width: 15%;
height: 20px;}

#inicio{width: 100%;
height: 750px;
background-color: #344C36;
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: 800px;
position: relative;}

#portf{font-family: "Brasika Display";
display: flex;
flex-direction: column;
justify-content: center;
align-self: center;}

.portf{font-size: 280px;
color: transparent;
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: #FAAD1B;}


.portf1{font-size: 280px;
color: #ebe1ce;
position: relative;
z-index: 99;}

#retangulo{width: 30%;
height: 700px;
background-color: #F6F1E3;
position: absolute;
top: 230px;
left: 340px;}


#retangulo3{width: 30%;
height: 250px;
background-color: #000000;
position: absolute;
top: 700px;
left: 160px;
opacity: 0.6;
display: flex;
justify-content: center;
align-items: center;}
    
#retangulo3 p{width: 70%;
color: white;
font-family: "Raleway", sans-serif;
font-size: 20px;
text-align: left;}

#retangulopreto{background-color: black;
width: 100%;
height: 300px;}

#about{width: 100%;
height: 100vh;}

#partebranca{background-color: #F6F1E3;
height: 80vh;
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 80vh;
position: relative;}

#parteverde{background-color: #344C36;
height: 30vh;
width: 100%;}
    
#textosabout{width: 100%;
height: 100vh;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 50px 100px 300px 420px;}

#textosabout h4{font-family: "Brasika Display";
margin-left: 300px;
font-size: 30px;
margin-top: 20px;}

#textosabout h2{font-size: 75px;
font-family: "Brasika Display";
grid-row: 3;
margin-left: 300px;}

#textosabout p{grid-row: 4;
margin-left: 300px;
color: #000000;
width: 40%;
font-size: 16px;
font-family: "Raleway", sans-serif;}

#retanguloverde{
    background-color: #344C36;
    position: absolute;
    width: 20%;
    height: 40vh;
    right: 400px;
    top: 400px;
    
}

#circulo{width: 65%;
height: 250px;
border-radius: 1000px;
background-color: #F6F1E3;
margin-left: 65px;
margin-top: 50px;
}